<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SysStatus_Test" connectionString="&#xD;&#xA;    Data Source=192.168.1.169\DESKTOP-UTIEK5D,1433;&#xD;&#xA;    Initial Catalog=SysStatus; &#xD;&#xA;    User ID = 1Grts4zvjKtu4pFP2mYWACSrSIG/NQawUXEaC4J+aIA= ;&#xD;&#xA;    Password=EIaA0gs6+T5+cSVlGut4QG+CTg+atMWO3+o0UUt/pB0=;&#xD;&#xA;    Integrated Security=false" />
		<add name="MainSystem" connectionString="&#xD;&#xA;    Data Source=192.168.1.115,55888\SQLEXPRESS;&#xD;&#xA;    Initial Catalog=SysStatus; &#xD;&#xA;    User ID = 1Grts4zvjKtu4pFP2mYWACSrSIG/NQawUXEaC4J+aIA= ;&#xD;&#xA;    Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;&#xD;&#xA;    Integrated Security=false" />
		<add name="SysStatus_Release" connectionString="&#xD;&#xA;    Data Source=192.168.1.25,55888\SQLEXPRESS;&#xD;&#xA;    Initial Catalog=SysStatus; &#xD;&#xA;    User ID = oVlHnimWv5mDFTUOpkA0EZrbM2DymmRGX1xbfd1kHOs= ;&#xD;&#xA;    Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;&#xD;&#xA;    Integrated Security=false" />
	</connectionStrings>
	<appSettings>
		<add key="Mode" value="Test"></add>
		<add key="Versioin" value="PSRDYC_V1.15.0" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>